<div class="about-container">
  <div class="about-left-column">
    <img src="/img/peace-lilies.jpg" alt="Peace Lilies">
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
  <div class="about-right-column">
    <div class="row"><h1 class="small-title">Matilda Edlund</h1></div>
    <div class="row"><img src="/img/profile-pic.jpg"></div>
    <div class="row"><p>This is my first website I have built. It is a simple one-page plant webshop! I created it as a project for school in my second year of the programme: Software Development: Mobile Platforms. Since I have an interest in indoor plants I decided to make it about plants :D I hope you enjoy the website, let me know if you have any questions or concerns. </p>
        <ul class="content-list">
            <li>Age: 23</li>
            <li>Education: Software Development - Mobile Platforms (3 years)</li>
            <li>Experience: </li>
        </ul></p></div>
  </div>
</div>
