<div class="container">
    <h1 class="small-title">Contact me</h1>
    <div class="text-card">
        <p>Email: planttogo@outlook.com</p>
        <p>Mailing address: Exampleroad 10, 333 33, Stockholm</p>
        <p>Follow my socials!</p>
        <p>@planttogo</p>
    </div>
    <div class ="socials">
        <img src="/img/instagram-icon.png">
        <img src="/img/facebook-icon.png">
    </div>
    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}
</div>