
<div class="home-body">
    <h1 id="title">Plant to go</h1>
    <div class="home-textbox">
        <p id="main-paragraph">Example Text Example Text Example Text Example Text Example Text Example Text.</p>
    </div>
    <button class="button"><a href="/catalog">Buy a plant</a> </button>
    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}
</div>

    